html {
	//rem size
	--rem: 10px;

	//colors
	--bg: #381D2A;
	// --bg: #ffffff;
	--head: #FFA552;
	--text: #C9E4CA;
	--input_text: #000000;
	--link: #E71D36;
	--hover: #048BA8;
	--success: #97CC04;
	--error: #D21A31;
}
